.video{
    background-color: rgba(0,0,0,1);
    width: 100%;
    height: 800px;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100000;
}
.video__video{
    width:100%;
    height: 700px;
}

.main-video{
    width:100%;
    height: 700px;
}
.video__button{
    position: absolute;
    top:100px;
    right: 20px;
    background-color: rgba(0,0,0,0);
    font-size: 40px;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 100;
    color: white;
}
.video__button:hover{
    cursor: pointer;
}